doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/css/styles.css')
    title CodoViajero

  body
    header(class="h-screen w-screen flex flex-col")
      include ./partials/header.pug


    div(class="")
      main
        block content

    footer(class="h-60 ")
      //- div(class="h-full w-full border bg-blue-custom1 flex flex-col text-white font-extrabold")
      //-   div(class="bg-custom-blue-two basis-[90%] grid grid-cols-3 gap-4 p-8")
      //-     div(class="flex flex-col gap-2 border border-white")
      //-       div(class="border-b-2 border-white")
      //-         h6(class="") Descarga la APP
      //-       div(class="border flex-1 border-white bg-[url('/icons/app_store.png')] bg-cover")
      //-       div(class="border flex-1 border-white bg-[url('/icons/google_play.png')] bg-cover bg-center bg-clip-padding")

      //-     div
      //-       div(class="custom-blue-2 border-b-2 border-white")
      //-         h6(class="") Contacto
      //-       div 
      //-         a 
      //-           p info@codoviajero.tur.ar
      //-       div 
      //-         a 
      //-           p (+54) 011 2774 4490 
          
      //-     div
      //-       div(class="border-b-2 border-white")
      //-         h6(class="") siguenos

      //-   div(class="basis-[10%] text-center bg-custom-blue-one")
      //-     p.copyright Todos los derechos reservados &copy;

      include ./partials/footer.pug
