doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/css/styles.css')
    title CodoViajero

  body
    header(class=[
      'w-screen', 
      'h-screen', 
      'flex', 
      'flex-col'
      ])
      include ./partials/header.pug

    div(class="flex flex-col container mx-auto")
      main(class="w-full bg-gray-100")
        block content

    footer(class="h-60 w-full")
      include ./partials/footer.pug

script(src="/js/touristDestine.js")
