doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/css/styles.css')
    //- link(href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;900&amp;display=swap" rel="stylesheet")
    title CodoViajero

  body.bg-gray-100
    header.relative
      include ./partials/header.pug

    div(class="relative h-60 container mx-auto")
      div(class=[
        'absolute',
        'left-1/2',
        'transform',
        '-translate-x-1/2',
        'w-11/12',
        'h-64',
        'bottom-16',
        'bg-white',
        'text-white',
        'text-center',
        'shadow-2xl',
        'grid',
        'grid-cols-4',
        'gap-0.5',
        'p-0.5'
      ])
        //- parrafo Disfrutalo
        div.p-4.h-full
          h3(class="text-orange-500 text-4xl p-1")
            | Disfrutalo
          p(class="text-orange-500")
            | Rutas patrimoniales gratuitas, festivales de musica y exposiciones 
            | culturales, son algunas de las atividade3s que podras disfrutar en CodoViajero.
        //- img mosaico
        div(class="bg-[url('/img/1cataratas.webp')] bg-no-repeat bg-center bg-cover")
        div(class="bg-[url('/img/2bariloche.jpg')] bg-no-repeat bg-center bg-cover")
        dvi(class="bg-[url('/img/5jujuy.jpg')] bg-no-repeat bg-center bg-cover")


    div(class="container mx-auto")
      
      main 
        block content

      include ./partials/footer.pug
