doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/css/styles.css')
    //- link(href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;900&amp;display=swap" rel="stylesheet")
    title CodoViajero

  body.bg-gray-100
    header(class="border border-blue-900 h-screen w-screen flex flex-col")
      include ./partials/header.pug


    div(class="container mx-auto")
      main
        block content

    //- include ./partials/footer.pug
