doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/src/output2.css")
    //- link(rel="stylesheet" href="output.css")

    title Mi Sitio Web
  body
    include ./partials/header.pug

    block content

    include ./partials/footer.pug
