extends layouts/layout
block headerContent
  include ./layouts/partials/header.pug

block content
  h2 ESTEE ES MI PAG EXCURSIONES 
    //- p(class='text-sm sm:text-base lg:text-xl xl:text-2xl text-orange-500 font-bold')
    //- | Cada destino ha sido seleccionado para brindarte una experiencia única, asegurando que cada momento de tu viaje sea inolvidable. Nuestro compromiso es proporcionarte una aventura sin preocupaciones, llena de exploración y descubrimiento.
