extends layouts/layout

block content
  div(class=[
      'text-black',
      'text-center',
      'p-4',
      'flex flex-col',
      'gap-4',
      'justify-center',
      'items-center',
      'mt-4',
      'mb-4'])
    h3(class='text-4xl text-center text-orange-500 font-black')
      |Descubre Nuestros Destinos Turisticos
    p(class='text-orange-500 text-xl font-bold')
      |Cada destino ha sido seleccionado para brindarte una experiencia única, asegurando que cada momento de tu viaje sea inolvidable. Nuestro compromiso es proporcionarte una aventura sin preocupaciones, llena de exploración y descubrimiento. 
