- 
    const images = [
        '/img/1cataratas.webp',
        '/img/2bariloche.jpg',
        '/img/5jujuy.jpg'
        ]

//- parrafo Disfrutalo
div(class=[
    'text-white',
    'text-center',
    'p-4',
    'flex flex-col',
    'gap-4',
    'justify-center',
    'items-center'])
    h3(class="text-4xl text-center text-orange-500 font-black")
        | Disfrutalo!
    p(class="text-orange-500 text-xl font-bold")
        | Rutas patrimoniales gratuitas, festivales de musica y exposiciones 
        | culturales, son algunas de las actividades que podras disfrutar en Codo
        span.text-2xl Viajero .

//- Imagenes de fondo usando clases de Tailwind CSS
each img in images
    div(class="bg-center bg-no-repeat bg-cover", style=`background-image: url('${img}')`)
