
div(class=[
    `bottom-0`,
    `text-white`,
    `text-center`,
    `shadow-xl`,
    `overflow-hidden`,
    'flex flex-cols',
    'text-blue-600'
    ])
    | hola
    //- `bg-white`,
    div(class='flex-1')
        img(src=`./img/excursions/excursion-rosario-1.jpg`, alt="" class='w-full h-full object-cover')
    div(class='flex-1 items-center text-amber-950') hola

    h3(class=['overflow-hidden text-xl sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl', 'text-center', 'text-orange-500', 'font-black'])
        | #{cheapestExcursion.img}!
