- 
    const images = [
        '/img/1cataratas.webp',
        '/img/2bariloche.jpg',
        '/img/5jujuy.jpg'
        ]
div(class=[
    `absolute`,
    `left-1/2`,
    `transform`,
    `-translate-x-1/2`,
    `w-[95%]`,
    `h-[200%]`,
    `bottom-0`,
    `bg-white`,
    `text-white`,
    `text-center`,
    `shadow-xl`,
    `grid`,
    `grid-cols-3 sm:grid-cols-4`,
    `grid-rows-3 sm:grid-rows-1`,
    `overflow-hidden`
    ])
    div(class=[
        'w-30',
        'col-span-3 sm:col-span-1',
        'text-white',
        'text-center',
        'sm:p-0',
        'flex flex-col',
        'justify-center',
        'items-center',
        'overflow-y-auto'])
        img(src=`/img/excursions/${cheapestExcursion.imagen}`, alt=`imagen de la ciudad de ${package.city}` class='w-full h-full object-cover')

        img(src="", alt="")
            p El  $#{cheapestExcursion.imagen}
