div(class="h-full bg-blue-950 flex flex-col text-white font-extrabold")
  div("class"="basis-[90%] grid grid-cols-3 gap-4 p-8")
    div
      div("class"="border-b-2 border-white")
        h6("class"="") Descarga la APP

    div
      div("class"="border-b-2 border-white")
        h6("class"="") Contacto
      div 
        a 
          p info@codoviajero.tur.ar
      div 
        a 
          p (+54) 011 2774 4490 
    
    div
      div("class"="border-b-2 border-white")
        h6("class"="") siguenos

  div("class"="basis-[10%] text-center bg-blue-900")
    p.copyright Todos los derechos reservados &copy;
