footer.footer
  div.contenedor
    div.barra
      div.logo
        h1.nombre-sitio
          | Codo
          span Viajero
      div.contacto
        a.telefono(href="tel:011-15-51482245") 011-15-51482245
        nav.navegacion
          a.link(href="index.html") Inicio
          a.link(href="nosotros.html#nosotros") Nosotros
          a.link(href="preguntasFrecuentes.html") Preguntas Frecuentes
          a.link(href="contacto.html") Contacto
          a.link(href="registro.html") Registrate
          a.link(href="login.html") Login
    p.copyright Todos los derechos reservados &copy;
