div(class="h-full w-full border bg-blue-custom flex flex-col text-white font-extrabold")
  div(class="bg-custom-blue-two basis-[90%] grid grid-cols-3 gap-4 p-8")
  
    div(class="grid grid-rows-3 gap-4")
      div(class="border-b-2 border-white justify-center items-center")
        h6(class="pb-2") Descarga la APP
      div(class="right-2 bg-[url('/icons/app_store.png')] bg-contain bg-no-repeat")
      div(class="right-2 bg-[url('/icons/google_play.png')] bg-contain bg-no-repeat")

    div(class="grid grid-rows-3 gap-4")
      div(class="custom-blue-2 border-b-2 border-white")
        h6(class="pb-2") Contacto
      div 
        ul.list-none
          li
            a(class="before:content-[''] before:bg-[url('/icons/icono_correo.png')] before:w-6 before:mr-2 before:h-4 before:inline-block before:bg-contain before:bg-no-repeat") info@codoviajero.tur.ar
          li 
            a(class="before:content-[''] before:bg-[url('/icons/icono_telefono.png')] before:w-6 before:mr-2 before:h-4 before:inline-block before:bg-contain before:bg-no-repeat") (+54) 011 2774 4490 
    
    divdiv(class="grid grid-rows-3 gap-4")
      div(class="border-b-2 border-white")
        h6(class="pb-2") siguenos

      div(class="flex justify-start gap-4")
        div(class="bg-[url('/icons/ig.png')] bg-contain bg-no-repeat bg-center w-10 h-10")
        div(class="bg-[url('/icons/twiter.png')] bg-contain bg-no-repeat bg-center w-10 h-10")
        div(class="bg-[url('/icons/wsp.png')] bg-contain bg-no-repeat bg-center w-10 h-10")
        div(class="bg-[url('/icons/facebook.png')] bg-contain bg-no-repeat bg-center w-10 h-10")

  div(class="basis-[10%] text-center bg-custom-blue-one")
    p.copyright Todos los derechos reservados &copy;