div(class="bg-fixed  basis-[80%] relative bg-[url('/img/PuenteDeLaMujer.jpeg')] bg-cover bg-center bg-clip-padding")
  div(class=[
        'absolute',
        'top-8',
        'h-16',
        'w-full',
        'flex',
        'items-center',
        'bg-custom-blue-one',
        'bg-opacity-50',
        'text-white',
        'text-2xl'
      ])

    div(class=['container', 'mx-auto',
        'basis-2/5',
        'flex',
        'justify-center',
        'text-center'
      ])

      h1(class=[
        'font-bold',
        'flex',
        'items-center',
        'text-4xl'
      ]) Codo
        span(class="text-orange-500 text-6xl") Viajero
    
    div(class="basis-3/5 h-full")
      include nav.pug

  div(class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white text-center")
    h2(class="font-bold  text-8xl drop-shadow-2xl") 
      | #TuViajePerfecto


//- DISFRUTALO
div(class="basis-[20%] relative")
  div(class=[
    'absolute',
    'left-1/2',
    'transform',
    '-translate-x-1/2',
    'w-[95%]',
    'h-[200%]',
    'bottom-0',
    'bg-white',
    'text-white',
    'text-center',
    'shadow-2xl',
    'grid',
    'grid-cols-4',
    'overflow-hidden',
    'rounded-[15px]',
    'border-2',
    'border-orange-500'
  ])
    //- parrafo Disfrutalo
    div(class="p-4 flex flex-col gap-4 justify-center items-center")
      h3(class="text-4xl text-center text-orange-500 font-black")
        | Disfrutalo!
      p(class="text-orange-500 text-xl font-bold")
        | Rutas patrimoniales gratuitas, festivales de musica y exposiciones 
        | culturales, son algunas de las atividade3s que podras disfrutar en Codo
        span.text-2xl Viajero .
    //- img mosaico
    div(class="bg-[url('/img/1cataratas.webp')] bg-cover bg-center bg-clip-padding")
    div(class="bg-[url('/img/2bariloche.jpg')] bg-cover bg-center bg-clip-padding")
    div(class="bg-[url('/img/5jujuy.jpg')] bg-cover bg-center bg-clip-padding")