section.w-full.mx-auto.bg-nordic-gray-light.flex.pt-12.bg-cover.bg-right(class='md:pt-0 md:items-center' style="max-width:1600px; height: 32rem; background-image: url('img/header/obelisco.jpeg');")
  .container.mx-auto
    .flex.flex-col.w-full.justify-center.items-start.px-6.tracking-wide(class='lg:w-1/2')
        h1.text-white.text-8xl.my-4.font-bold Visitas guiadas y excursiones
        span(class='text-white text-2xl inline-block no-underline leading-relaxed  font-semibold pl-4') Llená tu viaje
