//- IMAGEN DE FONDO HEADER
div(class=[
  `bg-fixed`, 
  `relative`, 
  `bg-[url('/img/header/puenteDeLaMujer.jpeg')]`, 
  `bg-cover bg-center bg-clip-padding`,
  'h-screen',])

  div(class=[
      `absolute`,
      `top-8`,
      `h-12 sm:h-14 lg:h-16`,
      `w-full`
    ])
    include nav.pug
