//- IMAGEN DE FONDO HEADER
div(class=[
  `bg-fixed`, 
  `relative`, 
  `bg-[url('/img/header/puenteDeLaMujer.jpeg')]`, 
  `bg-cover bg-center bg-clip-padding`,
  'h-screen',])

  div(class=[
      `absolute`,
      `top-8`,
      `h-12 sm:h-14 lg:h-16`,
      `w-full`
    ])
    include nav.pug

  div(class=[
        `absolute`,
        `top-1/2`,
        `left-1/2`,
        `transform -translate-x-1/2 -translate-y-1/2`,
        `text-white`,
        `text-center`
      ])
    h2(class=[
      'font-bold',
      'text-9xl sm:text-7xl md:text-8xl xl:text-9xl', 
      'drop-shadow-2xl'
      ]) 
      | #TuViajePerfecto