<a class="flex items-center hover:no-underline group" href="/">
  <span class="text-white font-bold text-2xl tracking-tight">Codo</span>
  <span class="text-brand-orange font-bold text-2xl tracking-tight group-hover:text-brand-orange-light transition-colors">Viajero</span>
</a>
  