<a class="hover:no-underline w-full text-center group flex flex-row justify-center" href="/">
  <span class="text-white text-4xl @xs:text-5xl @sm:text-6xl font-extrabold tracking-tighter">
    Codo
  </span>
  <span class="text-4xl @xs:text-5xl @sm:text-6xl font-extrabold text-brand-orange group-hover:text-brand-orange-light transition-colors">
    Viajero
  </span>
</a>