div(class=[
    'h-full',   
    'w-full',
    'flex',
    'items-center',
    'bg-custom-blue-one',
    'bg-opacity-50',
    'text-white',
    ])
    div(class="basis-2/5")
        include logoCodigoViajero.pug
        
    div(class="basis-3/5")
        include menu.pug
