nav.navegacion
    a.link(href="index.html") Inicio
    a.link(href="nosotros.html#nosotros") Nosotros
    a.link(href="preguntasFrecuentes.html") Preguntas Frecuentes
    a.link(href="contacto.html") Contacto
    a.link(href="registro.html") Registrate
    a.link(href="login.html") Login